body{
  position: relative;
  top: 150px;
  left: 500px;
  width: 500px;
}
body {
  font-family: Times;
  background-color: rgb(185, 179, 175);
}
h1 {
  font-family: Times;
  color: rgb(255, 255, 255);}

